body {
    background-image: radial-gradient(rgb(116, 255, 255), rgb(126, 51, 126));;
    text-align: center; 
}

h1{
    font: 75px bold sans-serif;
    border: 10px solid rgb(82, 19, 82);
    padding: 30px;
    color: rgb(10, 10, 100);
}

h3{
    font: 50px 'Times New Roman', Times, serif;
    color: rgba(252, 9, 9, 0.719);
}

h4 {
    font: 40px italic sans-serif;
}

p{
    font: 30px 'Times New Roman', Times, serif; 
    color: rgb(2, 82, 2)
 
}